* {
    box-sizing: border-box;
    padding: 35;
    margin: 35;
}

body {
background-color: rgb(255, 255, 255);
}

header  {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255)
    color black;
}

header h1 {
    display: inline-block;
    font-size: 38px;
    text-decoration:overline
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

header nav ul {
    list-style-position: inside;
}

header nav ul li {
    display: inline-block;
    margin-left: 45px;
}

p {
    font-size: 18px;
}

main {
    width: 75%;
    margin-left: 20px;
    margin-right: 20px;;
}

.img1{
    max-width: 10%;
    max-height: 10%;
    border: 5px;
    padding: 5px;
    border-radius: 45%;
}

.contact{
    display: inline-block;
}

bio{
    font-size: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.horiseon{
    height: 100%;
    width: 100%;
}

.pics{
    max-width: 100%;
    max-height: 100%;
    border: 5px;
    padding: 5px;
}

.resize {
    width: 40%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 950px){
    .horiseon, .pics, header
}

@media screen {
    
}